// Define variables for your color scheme

// For example:
$red: #e0ae8d;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #a8e28e;
$gray: #0E0000;
$light-gray: #F4F4F4;

//clarify original
$pink: #f59faf;
$creme: #f5f7ef;
$sky: #a7d2d5;
$navy: #2c363f;
