// Specific CSS for your home-page
.browse-by-category {

  h2 {
    font-size: 24px;
    text-align: center;
  }
}

.category-cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-category {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), asset_url("cosme.png");
  background-size: contain;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid white;

  &:hover {
    background-color: #f1d7f2;
  }
}
