// Specific CSS for your home-page
h2 {
  font-size: 24px;
  text-align: center;
  color: #48686a;
}


.category-cards {
  // display: grid;
  // grid-template-columns: 50% 50%;
}

.card-category {
  // background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), asset_url("cosme.png");
  // background-size: contain;
  // display: flex;
  // justify-content: center;
  // align-items: center;'
  position: relative;
  margin-top: 16px;
  background-color: white;
  padding-bottom: 100%;
  // padding: 16px;
  // margin: 16px;
  border-radius: 16px;
  text-align: center;
  // border: 3px solid white;

  &:hover {
    background-color: #f1d7f2;
  }

  img {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 20%;
  }
}

.card-category p {
  color: #729ea2;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}
