// Specific CSS for your home-page
.browse-by-category {

  h2 {
    font-size: 24px;
    text-align: center;
  }
}

.card-category {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $creme;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;

  &:hover {
    background-color: #f1d7f2;
  }
}
