
//products#show

.ingredients {
  p {
    margin: 0;
  }

  h2 {
    text-align: center;
  }
}

.reviews {

  h2 {
    text-align: center;
  }

}

.card-flag {
  background-color: $pink;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}
