
//products#show

.ingredients {
  p {
    margin: 0;
  }

  h2 {
    text-align: center;
  }
}

.reviews {

  h2 {
    text-align: center;
  }

}

.card-flag {
  background-color: $red;
  border: 3px solid white;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 3px;
  }

  p {
    margin: 0;
  }
}

.card-safe {
  background-color: $green;
  border: 3px solid white;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 3px;
  }

  p {
    margin: 0;
  }

}

.product-info {
  position: relative;
}

.like {
  font-size: 24px;
  color: $pink;
  position: absolute;
  top: -8px;
  right: 0;
}

.unlike {
  font-size: 24px;
  color: gray;
  position: absolute;
  top: -8px;
  right: 0;
}

.reviews {
  text-align: center
}

.fa-plus {
  color: gray;
}

#new_flag {
  display: flex;
}

.flag-item {
  i {
    color: $red;
  }
}
