.user-banner h2 {
  color: #14494d;
  font-size: 32px;
}

.user-info {
  text-align: center;
}

.user-info p {
  font-weight: bold;
  font-size: 20px;
}

.product-cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-product {
  background-color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    height: 140px;
    width: 140px;
    object-fit: contain;
    border-radius: 16px;
  }
  strong {
    color: $pink;
  }

  p {
    margin: 0;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

// for modal, make select2 full width
.modal-body span.select2 {
  width: 100% !important;
}
