.user-banner {
  height: 10vh;
  background-color: $creme;
  position: relative;

  .user {
    position: absolute;
    bottom: -32px;
    left: calc(50% - 32px);
  }
}

.my-shelf {
  h1 {
    margin-top: 40px;
    margin-bottom: 16px;
    text-align: center;
  }
}

.card-product {
  background-color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 10vh;
    object-fit: cover;
    border-radius: 16px;
  }

  p {
    font-size: 8px;
    margin: 0;
  }

  #product-name {
    margin-top: 8px;
    font-weight: bolder;
  }
}


