.user-banner {
  padding-top: 8px;
  height: 10vh;
  background-color: $creme;
  position: relative;
  margin-bottom: 80px;

  .fa-cog {
    position: absolute;
    color: gray;
    font-size: 24px;
    top: 16px;
    left: 16px;
  }

  h2 {
    text-align: center;
    color: $sky;
  }

}

.user-info {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 32px);


  p {
    color: white;
  }
}

.skin-type {

  position: relative;

  .fa-edit {
    position: absolute;
    color: gray;
    top: 8px;
    right: 2px;
  }

  .my-skin-type {
    text-align: center;
    font-size: bigger;
    font-weight: bolder;
  }

}

.skin-types {
  display: grid;
  grid-template-columns: 50% 50%;

}


.card-skin-type {
  text-align: center;


  i {
    font-size: 32px;
  }

  p {
    margin: 0;
  }
}

.icon {

  text-align: center;
  padding: 8px;
  margin: 8px 16px;
  border-radius: 16px;

  i {
    color: white;
  }

}

.list-group-item {
  p {
    margin: 0;
  }
}

