<div class="navbar-mobile">

    <%= image_tag "home.png", alt: "home", class: "navbar-img" %>

    <%= image_tag "scan.png", alt: "scan", class: "navbar-img" %>

    <%= image_tag "user.png", alt: "user", class: "navbar-img" %>

</div>
