.banner {
  // background-color: $creme;
  background-image: asset_url("skincare.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #b3a584;
  height: 40vh;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  background-position: 85%;

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    position: absolute;
    left: 10%;
    top: 10%;
  }

}


.user-banner {
  background-image: asset_url("shelf.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 8px;
  height: 160px;
  background-color: $creme;
  position: relative;
  margin-bottom: 64px;

  .fa-cog {
    position: absolute;
    color: gray;
    font-size: 24px;
    top: 16px;
    left: 16px;
  }

  h2 {
    margin-top: 36px;
    text-align: center;
    color: $sky;
  }

}

.user-info {
  // width: 90px;
  height: 90px;
  position: absolute;
  bottom: -47px;
  // left: calc(50% - 32px);
  left: 50%;
  transform: translateX(-50%);
  p {
    color: white;
  }
}

