.banner {
  // background-color: $creme;
  background-image: asset_url("skincare.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #b3a584;
  height: 40vh;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  background-position: 85%;
}

.banner {

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    position: absolute;
    left: 10%;
    top: 10%;
  }

}
