.btn-ghost {
  font-size: 12px;
  margin-top: 8px;
  color: gray;
  border: 1px solid $pink;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
