//products#show

.card-white {
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}

.flex {
  display: flex;
}

// card-product

.card-white-up {
  padding: 8px;
}


.card-white-bottom {
  padding: 8px;

  p {
      font-weight: lighter;
      margin-bottom: 0;
      font-size: 12px;
    }
}


.product-img {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30vw;
  }
}


.product-info {
  padding: 8px;
  width: 30vh;

  h1 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 8px;
  }

  p {
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 12px;
  }
}

.product-rating {
  margin-top: 16px;
}

.score-rating {
  display: flex;

  #rate {
  font-size: 24px;
  margin-right: 8px;
  }

  #rating {
    font-size: 8px;
    color: gray;
    line-height: 12px;
    align-self: center;
  }
}

.stars {
  i {
    font-size: 12px;
  }

  #star-pink {
    color: $pink;
  }

  #star-gray {
    color: gray;
  }
}

//card review

.review-user {
  margin-right: 16px;

  img {
    margin: 4px 0;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 12px;
  }
}


.title-and-star {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  p {
    font-size: 16px;
    border-bottom: gray 1px dotted;
    margin: 0;
  }
}


.review-content {

  p {
    font-size: 12px;
    margin: 0;
  }
}




