.navbar-mobile {
  background-color: $creme;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .navbar-img {
  height: 40px;
  height: 40px;
  margin: 8px
  }

}
