#scandit-barcode-picker {
  width: 100vw;
  height: 100vh;
}

.scandit-barcode-picker {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

.scandit-container {
  width: 100vw;
  height: 100vh;
}

.scandit {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}
