<div class="banner">
  <div class="container">
    <h1>Clarify</h1>
    <p>A skincare app that helps you make smart decisions</p>
  </div>
</div>

<div class="container">

  <div class="browse-by-category">
    <h2>Browse by category</h2>
  </div>

  <% @products.pluck(:category).uniq.each do |category| %>
    <%= render 'shared/card-category', category: category %>
  <% end %>
</div>
