<!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@4.x"></script> -->
<div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>
<%= form_tag 'products/barcode', method: :get, id: 'barcode-form' do %>
  <%= hidden_field_tag :barcode,
    params[:barcode]
  %>
<% end %>
<script src="https://cdn.jsdelivr.net/npm/scandit-sdk@4.x"></script>
<!-- <script src="/node_modules/scandit-sdk/build/browser/index.min.js"></script> -->
<!-- <script type="module" src="/node_modules/scandit-sdk/build/browser/index.esm.min.js"></script> -->
<script>
  function continueScanning() {
    if (picker) {
      // continueButton.disabled = true;
      picker.resumeScanning();
    }
  }
  const licenseKey =
    "AR7OBxXCC+FZEslnBTT41oEcEW1AKpDltX+CVDt4PQx5aHRkP3XgnNl/UavvXJi6EnBolO8VVzMDCbXGD1Eth15vxXpiRX2x9A+luUlViEWBXVVtfiRxI+EsLLfkFKRaTzKPXeQYsXVlP3lwdB5u1cjLo7IL/tv/Rf7lDWcSJtuxMV3DnjGecInoMfQtVjAbGvuB/jkSrKrCm0V0eokSijXXznHP7t1dC1j2x2gWeDDgnmQvgIyV4U3lBYE20hlT9XYjtJfubvSgWGYrDwYp6HzzWS50bbX8VQFFHQyD9peiA7DaL5aaTQbisoUOO9jsXhhXcKHCFHYRNoAQdjloAxi0D0GRbwBIfCp4OmHn32zS0D43h/6LFtu2XjCNsCX0G5+iKDQWCI978Nf8Si07xK6YghEHYAgYuspx+xab2lc4FQInNJXzwZmKGvr0X+27vAJV9cGjIq57pqd8SWflsFFapIESuHjErygX17i/uSI3BaqHdsi05qe9PubQ7klPya4CBFhHU2Qi2DDHX7Yt7zAmJZmKqnLMTjgGI1vrunV9AwChb4lLp3cLn9RW6otZ57c65xCXGSmQtZNsAIMly9M08WrPPHlGNaNbDrr56Q/ivXBj/qTdmzOYX1bdLZBsp/8I8Cah5IbkuX/I9fEdMxx4BTGxl0LtUoe1OZjkl+zyOU73F74e8qVaqOwf1tEl87Q8+96umPT73M63mJpmfel1A5XhWafcbB55dHrlPeTLJ9giLHcRHoVhFcjWZ6tjCSQGaXlVWwBYcciAXZAds/DoU9p8629QKiY0Bmz9v+l6a3rvbaY=";
  const engineLocation =
    "https://cdn.jsdelivr.net/npm/scandit-sdk@4.x/build";
  ScanditSDK.configure(licenseKey, { engineLocation: engineLocation });
  const scannerContainer = document.getElementById(
    "scandit-barcode-picker"
  );
  const resultContainer = document.getElementById("scandit-barcode-result");
  // const continueButton = document.getElementById(
  //   "continue-scanning-button"
  // );
  const barcodeInput = document.getElementById("barcode")
  // continueButton.disabled = true;
  // continueButton.hidden = true;
  let picker;
  ScanditSDK.BarcodePicker.create(scannerContainer, {
    playSoundOnScan: true,
    vibrateOnScan: true
  })
    .then(barcodePicker => {
      picker = barcodePicker;
      const scanSettings = new ScanditSDK.ScanSettings({
        enabledSymbologies: [
          "ean8",
          "ean13",
          "upca",
          "upce",
          "code128",
          "code39",
          "code93",
          "itf"
        ],
        codeDuplicateFilter: 1000
      });
      picker.applyScanSettings(scanSettings);
      picker.on("scan", scanResult => {
        console.log(scanResult.barcodes)
        document.getElementById('barcode').value = scanResult.barcodes[0].data;
        document.getElementById('barcode-form').submit()
        // alert(scanResult.barcodes.reduce(function(string, barcode) {
        //   return string + ScanditSDK.Barcode.Symbology.toHumanizedName(barcode.symbology) + ": " + barcode.data + "\n";
        // }, ""));
      });
      picker.on("scanError", error => {
        console.error(error.message);
      });
      picker.resumeScanning();
    })
    .catch(error => {
      alert(error);
    });
</script>
