<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">

      <% if @product.photo.attached? %>
        <% @path = @product.photo.key %>
      <% else %>
        <% @path = 'profile_whubsg' %>
      <% end %>

      <div class="product">
        <%= render 'shared/card-product', product: @product %>
      </div>

      <div class="ingredients">
        <h2>Ingredients</h2>
        <div class="card-white">
          <ul class="list-group list-group-flush">
            <% @product.ingredients.each do |ingredient| %>
              <div class="d-flex justify-content-between">
                <li class="list-group-item d-flex justify-content-between align-items-center"><p><%= ingredient.name %></p></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
                    <p><%= ingredient.tag_list.first %></p>
                  <% end %>
                  </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="reviews">
        <h2>Reviews</h2>
        <% @product.reviews.each do |review| %>
          <%= render 'shared/card-review', review: review %>
        <% end %>
      </div>

    </div>
  </div>
</div>
