<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="product">
        <%= render 'shared/card-productinfo', product: @product, path: @path %>
      </div>
    </div>

    <div class="col-8">
      <div class="flag">
        <div class="card-flag">
          <p> ! ! Flag ! ! </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <div class="card-white">
          <ul class="list-group list-group-flush">
            <% @product.ingredients.each do |ingredient| %>
              <div class="d-flex justify-content-between">
                <li class="list-group-item d-flex justify-content-between align-items-center"><p><%= ingredient.name %></p></li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 0;">
                  <% if current_user.tag_list.include?(ingredient.tag_list.first) %>
                    <i class="fab fa-font-awesome-flag"></i><p><%= ingredient.tag_list.first %></p>
                  <%# elsif current_user.ingredients.include?(ingredient) %>
                  <%# else %>
                    <%#= simple_form_for(Flag.new) do |f| %>
                      <%#= f.association :ingredient, as: :hidden, input_html: {value: ingredient.id} %>
                      <%#= f.input :product_id, as: :hidden, input_html: {value: @product.id} %>
                      <%#= button_tag class: "border-0" do %>
                        <!-- <i class="fas fa-plus"></i> -->
                      <%# end %>
                    <%# end %>

                  <% end %>
                  </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="reviews">
        <h2>Reviews</h2>
        <% @product.reviews.each do |review| %>
          <%= render 'shared/card-review', review: review %>
        <% end %>
      </div>

    </div>
  </div>
</div>
